<div class="cls-footer">
    <div class="cls-links">
        <div class="cls-left">
            <a href="#">Affiliates</a> /
            <a href="#">Contributors</a> /
            <a href="#">Press/Media</a> /
            <a href="#">Careers</a> /
            <a href="#">About</a> /
            <a href="#">Contact</a>
        </div>
        <div class="cls-right">
           <i class="fa fa-facebook"></i>
           <i class="fa fa-twitter"></i>
           <i class="fa fa-google"></i>
           <i class="fa fa-rss"></i>
        </div>
        <div class="cls-low">
            Copyright © 2019 myCompany All rights reserved.
        </div>

    </div>
</div>